<h1> Blog </h1>

<% @posts.sort.reverse.each do |post| %>
  <dt><%= link_to "#{post.name}", post_path(post) %></dt>
  <dl><%= post.article %></dl>
<% end %>

<% if current_user != nil %>
  <%= link_to "New post", new_post_path, :class => 'btn btn-success' %>
<% end %>


