<h1> Blog </h1>

<% @posts.each do |post| %>
  <dt><%= link_to "#{post.name}", post_path(post) %></dt>
  <dl><%= post.article %></dl>
<% end %>

<%= link_to "New post", new_post_path, :class => 'btn btn-success' %>


