<h1>Blog</h1>

<%= @post.name %>
<%= @post.article %>
</br>
</br>
<%= link_to "Edit", edit_post_path(@post), :class => 'btn btn-success btn-sm' %>
<%= link_to "Delete", post_path(@post),
                      :data => { :confirm => "Are you sure you want to delete this post?",
                                :method => "delete"},
                      :class => "btn btn-danger btn-sm" %>
